Django>=5.2,<6.1
django-unfold>=0.90.0
dj-database-url>=2.3.0
psycopg2-binary>=2.9
qrcode[pil]>=8.2
Pillow>=12.0
requests>=2.34.0
openpyxl>=3.1.5
xhtml2pdf>=0.2.17
reportlab>=4.5.0
beautifulsoup4>=4.15.0
python-pptx>=0.6.21
whitenoise>=6.8.0

